.custom-icon {
  background-color: #ffff;
  color: black;
  border-radius: 25%;
  width: 100px; /* Adjust the size as needed */ /* Adjust the size as needed */
  text-align: center;
  line-height: 30px; /* Adjust the size as needed */
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
  
}